.card {
margin-top: 50%;
  width: 300px;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  object-fit: cover;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: #222;
}

.card-desc {
  font-size: 14px;
  color: #555;
  margin-top: 6px;
}
