.body{
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    padding: 20px 30px;
}
.app-heading{
    text-align: center;
    color: #333;
}
.app-subheading{
    text-align: center;
    color: #666;
    font-size: 10px;
    margin: 0;
    padding: 0;
}
.task-list{
    margin-top: 20px;
    padding: 10px;
    height:60vh;
    overflow-y: scroll;
}
.todo-container{
    background-color: azure;
    position: fixed;
    bottom: 0;
    width:100%;
    left:0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.task-input{
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
}
.task-input:focus{
    outline:none;
}
.add-btn{
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: orange;
    color: white;
    cursor: pointer;
}
.add-btn:hover{
    background-color: darkorange;
    transition: o.3s;
}